---
layout: default
---
<article class="page-article">
  <div class="wrap-content">
    <header class="page-header">
      <h1 class="page-title">{{page.title}}</h1>
      <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
    </header>
    <div class="page-content">
      {% if page.img %}
      <img class="page-img" src={{ "/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
      {% endif %}
      {{page.content | markdownify}}
    </div>
    <!-- facebook comment plugin -->
    <div class="fb-comments" data-href="https://kanetu.github.io{{page.url | prepend: site.baseurl}}" data-width="100%" data-numposts="5"></div>

  </div>
</article>

